# The complete python course

## Variables and numbers

if we have a variable name that we would not change, aka a constant, we can named it using upper case

In [1]:
PI =3.14

We have two main types of numbers, integers and floats

In [2]:
age = 35 # integer
PI = 3.14159 # floats

Float division

In [3]:
float_division = 12/3
print(float_division)

4.0

In [5]:
8/3

2.6666666666666665

Integer division

In [4]:
integer_division = 12//3
print(integer_division)

4

The **//** operator rounds down the result of the division

In [6]:
8//3

2

In [9]:
float_division = 13/5 # returns the cocient of the division 
print(float_division)

2.6

In [8]:
integer_division = 13//5
print(integer_division)

2

Remainder of a division

In [11]:
remainder =  13%5
print(remainder)

3

13 // 5 = 2 and the remainder is 3

In [12]:
125/5

25.0

String quotes

In [15]:
string_with_quotes = "hello, it's me"
another_with_quotes = 'He said "you are amazing" yesterday'
print(another_with_quotes)

He said "you are amazing" yesterday

String escaping : we use back slash on the string we want to append to another string.

In [16]:
another_with_quotes = "He said \"you are amazing\" yesterday"
print(another_with_quotes)

He said "you are amazing" yesterday

multiline strings : uses 3 quotation marks """

In [18]:
multiline_string = """
Hello world. 
My name is juan 
Welcome to my program
"""
print(multiline_string)

Hello world.
My name is juan
Welcome to my program

In [20]:
not_a_multiline_string = "Hello world My name is Juan"
print(not_a_multiline_string)

Hello world My name is Juan

In [22]:
name = "Juan"
greeting = "hello " +  name
print(greeting)

hello Juan

In [26]:
age = 34
print(f"you are {age}")

you are 34

In [24]:
print("You are {}".format(age))

you are 34

In [25]:
print("You are "+ str(age))

You are 34

User input
The input function always give back a string

In [27]:
my_name = "Juan"
your_name = input("Enter yout name: ")
print(f" Hello {your_name}, my name is {my_name}")

 Hello David, my name is Juan

In [30]:
your_age = input("enter your age :")
print( f"you have lived for {your_age} years")
print(type(your_age))

you have lived for 24 years
<class 'str'>

In [29]:
your_age = input("enter your age :")
print( f"you have lived for {int(your_age)*12} months")

you have lived for 300 months

One = is for asigment , two == are for comparison

In [31]:
age = 20 
is_the_same_age = 20 == 21
print(is_the_same_age)

False

and operator: if one of the 2 conditions is false, everything will be false

* it gives you the first value if it is false, other wise it gives you the second value

In [32]:
age = int(input("enter your age :"))
can_learn_programming = age > 0 and age < 150 
print (f" you can learn programming {can_learn_programming}")

 you can learn programming True

In [34]:
a = False
b = 35 
c = a and b 
print(c)

False

In [35]:
a = 35
b = False
c = a and b 
print(c)

False

In [36]:
a = 34
b = 35 
c = a and b 
print(c)

35

Or operator : check if one of the conditions is true 
* It gives you the first value if it is true, other wise it returns the second value

In [33]:
age = int(input("enter your age :"))
usually_not_working = age < 18 or age > 65 
print (f"At {age} you are usually not working {usually_not_working}")

At 24 you are usually not working False

In [37]:
a = False
b = 35 
c = a or b 
print(c)

35

In [38]:
a = 35
b = False
c = a or b 
print(c)

35

In [39]:
a = 34
b = 35 
c = a or b 
print(c)

34

In [40]:
print(not 35)

False

Lists
* When working with lists is better to keep its data homogeneous

In [75]:
friends = ["Rolf", "Bob", "Anne"]
print(friends)
friends.remove("Bob")
print(friends)

['Rolf', 'Bob', 'Anne']
['Rolf', 'Anne']

In [44]:
len(friends)

2

In [76]:
comma_separated = ", ".join(friends)
print(f"My friends are {comma_separated}")

My friends are Rolf, Anne

* Pop uses the index of the value that we want to pop

In [42]:
friends.append("Juan")
print(friends)
friends.pop(0)
print(friends)

['Rolf', 'Anne', 'Juan']
['Anne', 'Juan']

In [43]:
friends.count("Bob")

0

Tuples

Does not allow modification

In [45]:
short_tuple = "Rolf", "bob"
print(short_tuple)

('Rolf', 'bob')

In [46]:
short_tuple = ("Rolf", "bob")
print(short_tuple)

('Rolf', 'bob')

In [47]:
print(short_tuple[0])

Rolf

Sets
* Dont hold order and doesn't allow duplicates

In [50]:
art_friends = {"Rolf","Ane"}
print(art_friends)
science_friends = {"Jen", "Charlie"}
art_friends.add("Juan")

{'Ane', 'Rolf'}

In [51]:
print(art_friends)

{'Ane', 'Juan', 'Rolf'}

In [52]:
print(art_friends)
art_friends.remove("Rolf")
print(art_friends)

{'Ane', 'Juan', 'Rolf'}
{'Ane', 'Juan'}

* Sets difference
  
1. Return the elements that are in the art_friends set but not in the science_friends

* Symmetric difference 

1. Elements that are not in both sets 

* Intersection 

1. Elements that are on both sets

In [58]:
art_friends = {"Rolf","Ane","Jen"}
print(art_friends)
science_friends = {"Jen", "Charlie"}
print(science_friends)
art_but_not_science = art_friends.difference(science_friends)
print(art_but_not_science)
not_in_both = art_friends.symmetric_difference(science_friends)
print(not_in_both)
art_and_science = art_friends.intersection(science_friends)
print(art_and_science)
all_friends = art_friends.union(science_friends)
print(all_friends)

{'Ane', 'Jen', 'Rolf'}
{'Jen', 'Charlie'}
{'Ane', 'Rolf'}
{'Ane', 'Rolf', 'Charlie'}
{'Jen'}
{'Ane', 'Jen', 'Rolf', 'Charlie'}

Dictionaries 
key value pairs

In [60]:
friends = [("Rolf", 24), ("Adam", 30), ("Anne",27)]
friend_ages = dict(friends)
print(friend_ages)

{'Rolf': 24, 'Adam': 30, 'Anne': 27}

Zip function
* Pairs each element of one tuple to another

In [64]:
a = ("John", "Charles", "Mike")
b = ("Jenny", "Christy", "Monica")

x = zip(a, b)
print(x)

<zip object at 0x7fce318b4d80>

In [65]:
dict_x = dict(x)
print(dict_x)

{'John': 'Jenny', 'Charles': 'Christy', 'Mike': 'Monica'}

In [68]:
list_a = [1,2,4]
list_b = [5,6,7]
print(list_a, list_b)

[1, 2, 4] [5, 6, 7]

In [73]:
x_list = zip(list_a, list_b)
dict_x_list = dict(x_list)
print(dict_x_list)
print(type(list(dict_x_list.keys())[0]))

{1: 5, 2: 6, 4: 7}
<class 'int'>

In [74]:
list_c = [5,6,7,8]
x_list = zip(list_a, list_c)
dict_x_list = dict(x_list)
print(dict_x_list)

{1: 5, 2: 6, 4: 7}

## Flow control

While loops are used to run something but you dont know a priori how many times, The programm will run until a condition is satisfied

* Destructing syntax

In [77]:
friends = [("Rolf",25), ("Anne",37), ("Charlie",31), ("Bob",22)]
for name, age in friends:
    print(f"{name} is {age} years old")

Rolf is 25 years old
Anne is 37 years old
Charlie is 31 years old
Bob is 22 years old

* iterating over dictionaries

In [78]:
friends = [("Rolf",25), ("Anne",37), ("Charlie",31), ("Bob",22)]
friends_age = dict(friends)
print(friends_age)

{'Rolf': 25, 'Anne': 37, 'Charlie': 31, 'Bob': 22}

In [79]:
list_friends = [["Rolf",25], ["Anne",37], ["Charlie",31], ["Bob",22]]
friends_age_list = dict(list_friends)
print(friends_age_list)

{'Rolf': 25, 'Anne': 37, 'Charlie': 31, 'Bob': 22}

In [80]:
for name in friends_age_list:
    print(name)

Rolf
Anne
Charlie
Bob

In [82]:
for name in friends_age_list.keys():
    print(name)

Rolf
Anne
Charlie
Bob

In [81]:
for age in friends_age_list.values():
    print(age)

25
37
31
22

In [83]:
for name, age in friends_age_list.items():
    print(name,age)

Rolf 25
Anne 37
Charlie 31
Bob 22

Break and continue keyword

In [84]:
cars = ["ok","ok","bad","ok"]
for status in cars:
    print(f"This car is {status}")

This car is ok
This car is ok
This car is bad
This car is ok

With the _break_ keyword the for loop stops at some point

In [87]:
for status in cars:
    if status == "bad":
        print("Stopping the production line I found a bad car status")
        break 
    print(f"This car is {status}")

This car is ok
This car is ok
Stopping the production line I found a bad car status

With the _continue_ keyword the for loop can continue when a given condition is found

In [88]:
for status in cars:
    if status == "bad":
        print("Skipping this car,  I found a bad car status")
        continue
    print(f"This car is {status}")

This car is ok
This car is ok
Skipping this car,  I found a bad car status
This car is ok

We can use the else keyword in case we run a for loop with none breaks or errors

In [89]:
cars = ["ok","ok","ok","ok"]
for status in cars:
    if status == "bad":
        print("Stopping the production line I found a bad car status")
        break 
    print(f"This car is {status}")
else:
    print("All cars are ok , no bad status cars")

This car is ok
This car is ok
This car is ok
This car is ok
All cars are ok , no bad status cars

List slicing

In [92]:
friends = ["Rolf", "Charlie", "Anna", "Bob", "Jen"]

print(friends[:-2]) # returns all the elements of the list except the last two
print(friends[-2:]) # returns the last two elements of the list

['Rolf', 'Charlie', 'Anna']
['Bob', 'Jen']

The last element of the list

In [93]:
print(friends[-1])

Jen

Second to last element of the list

In [94]:
print(friends[-2])

Bob

* list slicing is inclusive at the beginning but exlusive at the end

In [95]:
print(friends[0:3])

['Rolf', 'Charlie', 'Anna']

In [96]:
repeated_statement = [print("again") for _ in range(5)]

again
again
again
again
again

List and Set comprenhension

In [98]:
nums = [2,4,9,8,7]

odd = [num for num in nums if num%2 == 1]
odd

[9, 7]

In [97]:
friends = ["Rolf", "ruth", "charlie", "Jen"]
guests = ["jose", "Bob", "Rolf", "Charlie", "michael"]

friends_lower = {n.lower() for n in friends}
guests_lower = {n.lower() for n in guests}
present_friends = friends_lower.intersection(guests_lower)
upper_present_friends = {name.title() for name in present_friends}
print(upper_present_friends)

{'Charlie', 'Rolf'}

The range function always starts at 0 by default

In [99]:
for i in range(5):
    print(i)

0
1
2
3
4

However we can changed it to start in a different index

In [102]:
for i in range(1,5,1):
    print(i)

1
2
3
4

In [101]:
len(friends)

4

Here we start at 0

In [100]:
for i in range(len(friends)):
    print(i)

0
1
2
3

Here we start at 1

In [103]:
for i in range(1,len(friends)):
    print(i)

1
2
3

In [105]:
friends

['Rolf', 'ruth', 'charlie', 'Jen']

In [104]:
for i in range(len(friends)):
    print(friends[i])

Rolf
ruth
charlie
Jen

In [106]:
friends = ["Rolf","Bob", "Jen", "Anne"]
time_since_seen =  [3,7,15,11]

long_timers = {
    friends[i]: time_since_seen[i]
    for i in range(len(friends))
    if time_since_seen[i] > 8
}

In [107]:
long_timers

{'Jen': 15, 'Anne': 11}

Enumerate function

In [108]:
friends = ["Rolf", "John", "Anna"]

In [110]:
for counter, friend in enumerate(friends):
    print(counter, friend)

0 Rolf
1 John
2 Anna

In [113]:
counter_friends = tuple(enumerate(friends))
print(counter_friends)

((0, 'Rolf'), (1, 'John'), (2, 'Anna'))

In [114]:
counter_friends = list(enumerate(friends))
print(counter_friends)

[(0, 'Rolf'), (1, 'John'), (2, 'Anna')]

In [115]:
counter_friends = set(enumerate(friends))
print(counter_friends)

{(0, 'Rolf'), (2, 'Anna'), (1, 'John')}

In [116]:
counter_friends = dict(enumerate(friends))
print(counter_friends)

{0: 'Rolf', 1: 'John', 2: 'Anna'}

## Functions

In [119]:
from typing import Dict, Any

In [123]:
ford_fiesta = {
        "make": "Ford",
        "model" : "Fiesta",
        "mileage" : 23000,
        "fuel_consumed" : 460}

* Car is a parameter of the function

In [127]:
def calculate_mpg(car:Dict) -> None :
    mpg = car["mileage"]/car["fuel_consumed"]
    name = f"{car['make']} {car['model']}"
    print(f"{name} does {mpg} miles per gallon")

* ford fiesta is the argument that is pass as the car parameter to the calculate_mpg function

In [129]:
calculate_mpg(car = ford_fiesta)

Ford Fiesta does 50.0 miles per gallon

In [1]:
def sum_function(x,y):
    return x+y

sum_function(1,4)

5

In [3]:
sum_function(1,8,3)

TypeError: sum_function() takes 2 positional arguments but 3 were given

In [6]:
def sum_function(*args,**kwargs):
    print(args)
    value = 0
    for n in args:
        value += n
    return value

In [7]:
sum_function(3,5,6)

(3, 5, 6)

14

In [9]:
def rest_function(**kwargs):
    print(kwargs)
    return kwargs["x"] - kwargs["y"]

rest_function(x=5,y=4,z=9)

{'x': 5, 'y': 4, 'z': 9}

1

In [132]:
def divide_normal(x,y):
    return x/y

In [134]:
divide_lambda = lambda x , y  : x/y

In [135]:
divide_lambda(15,5)

3.0